@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family:Arima;
    src: url(/assets/fonts/Arima-VariableFont_wght.ttf) format(truetype);
}
@font-face{
    font-family:Mulish;
    src: url(/assets/fonts/Mulish-Italic-VariableFont_wght.ttf) format(truetype);
}
*,*::after,*::before{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    /* 1rem = 10px */
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.ocultar{
    display: none;
}

.panel{
    width: 160px;
    position: absolute;
    top:35px;
    right: 3px;
    background-color: rgba(0,0,0,.8);
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    z-index: 999;

    & p{
        display: flex;
        justify-content: end;
    }

    & a{
        font-family: Mulish;
        color: white;
        display: block;
        transition: color .3s ease-in-out;
    }
    
    & a:nth-child(even):hover{
        color: red;
    }
    
    & a:nth-child(odd):hover{
        color: green;
    }
}

.nav{
    & a{
        font-family: Mulish;
        color: white;
        display: block;
        transition: color .3s ease-in-out;
    }
    
    & a:nth-child(even):hover{
        color: red;
    }
    
    & a:nth-child(odd):hover{
        color: green;
    }
}

video{
    width: 100%;
    height: 100%;
}
html {
    scroll-behavior: smooth;
}